
<div>
<h1>this is the login</h1>
<form id="loginForm">
<label for="Email">Email</label>
<input type="email" name="email"><br/>
<label for="password">password</label>
<input type="password" name="password"><br/>
<input type="submit">
<button id="logButton">loguers</button></form></br>
<button id="gitButton">gitLog</button>
</form>
<div>
    <p>Aun no estas registrado?</p><br/>
    <a href="/register"> registro</a>
</div>
</div>
<script src="/js/login.js"></script>