<div>
    <form id="registerForm">
        <label>name</label>
        <input type="text" name="firstName">
        <br />
        <label for="apellido">apellido</label>
        <input type="text" name="lastName">
        <br />
        <label for="Email">Email</label>
        <input type="email" name="email">
        <br />
        <label for="password">Passsword</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
<script src="/js/register.js"></script>