<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/style.css" />
</head>


<body>
  <div class="container">
    <nav class="header header1">
      <div class="header1">
        
        <div class="boton2">
          <div class="groupA ul">
            <a class="button1 onclick ulli" aria-current="page" href="/">Home</a>
            <a class="button1 onclick ulli" href="/realTimeProducts">RealTimeProducts</a>
            <a class="button1 onclick ulli" href="/products">Products</a>
            <a class="button1 onclick ulli" href="/chat">chat</a>
          </div>
          <div>
            
            <a id="carrito">
              
              <button>
                <img src="https://www.goodfreephotos.com/albums/vector-images/shopping-cart-vector-clipart.png" class="imgCarrito" />
                <i class="ul"></i>
                <span id="cartbaner"
                  class="numeroCarrito">0</span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </nav>


    {{{body}}}

</body>

</html>